<div>
  <ul class="tab-list">
    <li (click)="activeTab = 'users'" [class.active]="activeTab === 'users'">Users</li>
    <li (click)="activeTab = 'winners'" [class.active]="activeTab === 'winners'">Winners</li>
    <li (click)="activeTab = 'toppers'" [class.active]="activeTab === 'toppers'">Toppers</li>
  </ul>

  <div *ngIf="activeTab === 'users'">
    <table class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Score</th>
          <th>Add to Winners</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.score }}</td>
          <td><button (click)="addToWinners(user)">Add to Winners</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="activeTab === 'winners'">
    <table class="winner-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let winner of winners">
          <td>{{ winner.name }}</td>
          <td>{{ winner.age }}</td>
          <td>{{ winner.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="activeTab === 'toppers'">
    <table class="topper-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td *ngIf="user.score > 90">{{ user.name }}</td>
          <td *ngIf="user.score > 90">{{ user.age }}</td>
          <td *ngIf="user.score > 90">{{ user.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
